*{
    padding: 0;
    margin: 0;
    
}
/* header starts */
header{
    padding: 10px 100px;
    background-color: #1d2126;
    /* text-align: center; */
    text-align: right;
    height: 61px;
}
.leftnavbar{
    height: 30px;
    padding-top: 25px;
    padding-left: 50px;
    float: left;
    font-family: "Open Sans";
    color: #829099;
}
#active{
    border: 1px solid #23b7a4;
    padding: 8px;
    color: #23b7a4;
    margin: 5px;
}
.rightnavbar{
    font-family: "Open Sans";
    padding-top: 25px;
    padding: 5px;
    text-decoration: none;
    color: #829099;
    float: inline-end;
    line-height: 65px;
}
.rightnavbar:hover{
    border: 1px solid #829099;
}
/* header ends */

/* banner starts */
#banner{
    background-image: url("banner.png");
    height: 660px;
}
#banner .box{
 /* color: #23b7a4; */
 padding: 150px;

}
#banner .box h2{

        /* border: 1px solid black; */
        width: 507px;
        height: 26px;
        color: #ffffff;
        font-family: "Quattrocento Sans";
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: 42px;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
}
#banner .box p{

    padding-top: 20px;
    padding-bottom: 20px;
    width: 648px;
    height: 43px;
    color: #ccd0d7;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
}
#banner .box .button{
    
        /* width: 120px; */
        text-align: center;
        align-content: center;
        /* height: 40px; */
        margin-top: 20px;
        margin-right: 2px;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: white;
        /* background-color: #23b7a4; */

}
#banner .box .button:hover{
border: 2px solid #23b7a4;
color: white;
background-color: #23b7a4;
}
/*  banner ends*/

/* about starts */
#about{
    padding: 50px 100px;
    background-color: white;
    height: 534px;
    font-family:sans-serif; 
}
#about h2{
    border-left: 5px solid #e1e6ea;
    padding-left: 10px;
    margin-bottom: 25px;
}
#about p{
    /* border-left: 5px solid #e1e6ea; */
    padding-left: 10px;
    margin-bottom: 25px;
}
#about .abouticon {
    padding-left: 10px;
    margin-bottom: 25px;
}

#about #aboutsocial{
    
    width: 60px;
    height: 60px;
    background-color: #898b8d;
    color: #fff;
    font-size: 32px;
    font-weight: 200;
    line-height: 48px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    align-items: center;  
}
#about #aboutsocial:hover{
    background-color: #c8cdd0;
    color: #ffffff;
}
/* about ends */

/* teams starts */
#team {
    border-top: 1px solid rgb(207, 195, 195);
    padding: 50px 100px;
    background-color: rgb(255, 255, 255);
    height: 470px;
    font-family: sans-serif;
}

#team h2 {
    border-left: 5px solid #e1e6ea;
    padding-left: 10px;
    margin-bottom: 25px;
}
#team .card{
    /* border: 1px solid black; */
    position: relative;
    width: 100%;
    margin: 10px;
    background-color: #dadfe0;
}
#team .card .image{
    display: block;
}
#team .card .image .overlay{
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        transition: .3s ease;
        background-color: rgb(218, 218, 218);
}
#team .card:hover .overlay{
    opacity: 0.5;
}
#team .card .image .overlay .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.fa-brands{
    padding: 10px;
    background-color: #000000;
    font-size: 15px;
}
.fa-brands:hover{
    background-color: #000000;
    color: #ffffff;
}
 
 


/* #team .card img:hover{ */
    /* background-color: #d7e5f3; */
    /* opacity: 0.5; */
/*  */
/* } */

#team .card:hover{
    background-color: #1d2126;
    color: #ffffff;
}
#team .card .name{
padding-left: 10px;
padding-top: 10px;
}
#team .card .desc{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #829099;

}


/* teams ends*/

/* work starts here */
#work {
    
    border-top: 1px solid black ;
    padding: 50px 100px;
    height: 899px;
    background-color: #3a454d;
    font-family: sans-serif;
}

#work h2 {
    border-left: 5px solid #4e5a62;
    padding-left: 10px;
    margin-bottom: 25px;
    color: #ffffff;
}
#work .column {
    position: relative;
    float: left;
    width: 30%;
    padding: 15px;
}
#work .column .image{
    display: block;
    width: 100%;
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(184, 184, 184);
}
.column:hover .overlay {
    opacity: 0.7;
    border: none;
}
.icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title{
    border: 1px solid #000000;
    background-color: #000000;
    display: flex;
    color: white;
    width: 90%;
        font-size: 16px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        justify-content: center;
    
    
}
.fa-add:hover {
    color: rgb(255, 255, 255);
}


#work .row::after {
    content: "";
    clear: both;
    display: table;
}

#work .column:hover{
    opacity: 0.7;

}
/* work ends here */

/* services starts */
#services{
    height: 651px;
    background-color: white;
    border-top: 1px solid black;
    padding: 50px 100px;
    font-family: sans-serif;
}
#services h2{
    border-left: 5px solid #91979b;
    padding-left: 10px;
    margin-bottom: 25px;
    color: #000000;
}
.servicecard{
    display: inline-block;
    width: 15%;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 30px;
    margin: 20px;
    /* border: 1px solid black; */
    /* position: relative; */
}
.servicecard img{
    /* border: 1px solid black; */
    padding: 20px 20px;
}
.servicecard h5{
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
    color: #000000;
}
.servicecard p{
    justify-content: left;
    /* border: 1px solid black; */
    display: block;
    line-break: normal;
    padding: 5px;
    text-align: start;
    word-break: keep-all;
    color: #8d8f92;
}

/* services ends */
















/* Features starts */
#features {
    height: 732px;
    background-color: #3a454d;
    border-top: 1px solid black;
    
    padding-top: 220px;
    padding-bottom:20px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: sans-serif;
}
#features h2 {
    border-left: 5px solid #91979b;
    padding-left: 10px;
    margin-bottom: 25px;
    color: #ffffff;
}
.featurecard {
    /* display: i; */
    /* width: 22%; */
    /* padding: 10px 10px; */
    /* margin: 10px; */
    /* z-index: 0; */
    /* border: 1px solid black; */
    /* position: relative; */
    /* border: 1px solid black; */
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 320px;
}

.featurecard img {
    
    height: 240px;
    /* border: 1px solid black; */
    /* padding: 20px 20px; */
}

.featurecard h5 {
    /* border: 1px solid black; */
    margin: 20px 0px;
    /* float: left; */
    
    padding: 5px;
    font-weight: 600;
    color: #ffffff;
}

.featurecard p {
    width: 200;
    /* justify-content: left; */
    /* border: 1px solid black; */
    display: block;
    /* line-break: normal; */
    padding: 5px;
    text-align: start;
    word-break: keep-all;
    color: #ffffff;
}

/* features ends */
/* contact starts */
#contact {
    height: 712px;
    background-color: white;
    border-top: 1px solid black;
    font-family: sans-serif;
}
#contact h2 {
    border-left: 5px solid #91979b;
    margin: 70px 100px;
    padding-left: 10px;
    margin-bottom: 25px;
    color: #000000;
}
#contact img{
    
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* height: 768px; */
    width: 1348px

}
form{
    /* border: 1px solid black; */
    background-color: #ffffff;
    /* z-index: -20; */
    width: 50%;
    height: 340px;
    float: right;
}
label{
    padding: 5px;
    margin: 5px;
}
input[type=text] {
    width: 40%;
    box-sizing: border-box;
    background-color: #eaeef1;
    
}
input[type=email] {
    width: 38%;
    /* padding: 5px 20px; */
    /* margin: 8px 0; */
    box-sizing: border-box;
    background-color: #eaeef1;
}
input[type=button]{
    background-color: #04AA6D;
    border: 1px solid white ;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.info{
    padding: 20px;
    width: 50%;
    /* border:1px solid black; */
}
.info h3{
    padding: 10px;
}
.info p{
    padding: 10px;
    color: #4a4e50;
}

/* contact ends */


























/* footer starts */
footer {
    padding: 10px 100px;
    background-color: #1d2126;
    /* text-align: center; */
    text-align: right;
    height: 61px;
}
.leftfooter {
    height: 30px;
    padding-top: 25px;
    padding-left: 50px;
    float: left;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande",Arial,Ubuntu,Cantarell," Fira Sans",sans-serif;
    color: #829099;
}
.rightfooter {
    padding-top: 25px;
    padding: 5px;
    text-decoration: none;
    color: #829099;
    float: inline-end;
    line-height: 65px;
}
.rightfooter i{
    padding: 10px;
}
/* footer ends */










